@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #7a7a7a;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}

header {
  width: 40%;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

header img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  border: 5.5px solid rgb(179, 179, 179);
  transition: transform 0.75s ease-in;
}

header img:hover {
  transform: rotate(360deg);
}

header h1 {
  color: #dd5555;
  font-size: 2.5rem;
}

header a {
  background-color: #dd5555;
  color: white;
  text-decoration: none;
  padding: 0.8rem 0.5rem;
  border-radius: 5px;
  width: 30%;
  font-size: 1.35rem;
}

header a:hover {
  transition: 0.3s;
  padding: 1.1rem 1.3rem;
  font-size: 1.5rem;
  background-color: #f53535;
}

header a:not(:hover) {
  transition: 0.3s;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.headerText p {
  text-align: justify;
  margin-top: 1rem;
  font-size: 1.5rem;
}

main {
  width: 43%;
}
.socials {
  width: 100%;
  height: 15rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.fa-brands {
  font-size: 3rem;
}

.facebook,
.linkedin,
.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: #cccccc;
}

.facebook a,
.linkedin a,
.twitter a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #cccccc;
}

.social:hover {
  color: #7a7a7a;
}

.social:hover .link {
  color: #7a7a7a;
}

footer {
  width: 43%;
  background-color: rgb(255, 255, 255);
}

footer h2 {
  text-align: center;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 3rem 1rem 3rem 1rem;
}

.movies h2 {
  font-size: 2rem;
}

.odyssey,
.hulot,
.alien {
  display: flex;
  max-width: 95%;
  gap: 1rem;
}
.text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 0rem 1rem;
}

.text h3 {
  font-size: 1.5rem;
}
.text p {
  font-size: 1.2rem;
}

.text h3 {
  text-align: center;
}

.odyssey img,
.hulot img,
.alien img {
  float: left;
  height: 12rem;
  width: 8rem;
}
